<!DOCTYPE html>

    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><%= home %></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/chat">Chat en ligne</a></li>
          <li><a href="/spot"><%= spot %></a></li>
          <li><a href="/search"><%= search %></a></li>
          <li><a href="/auth/"><%= login %></a></li>
        </ul>
      </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text"><%= title %></h1>
      </div>
    </div>
